@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Products</h1>
            <div class="card">
                <div class="card-header">
                    List Of Products
                    
                        
                            <form>
                                <div class="row">
                                    <div class="form-group col">
                                        <label for="yearFilter">Year:</label>
                                        <select id="yearFilter" class="form-control">
                                            <option value="">Any</option>
                                            @foreach (var year in ViewBag.Years)
                                            {
                                                <option value="@year">@year</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col">
                                        <label for="monthFilter">Month:</label>
                                        <select id="monthFilter" class="form-control">
                                            <option value="">Any</option>
                                            @foreach (var month in ViewBag.Months)
                                            {
                                                <option value="@month">@month</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col">
                                        <label for="dayFilter">Day:</label>
                                        <select id="dayFilter" class="form-control">
                                            <option value="">Any</option>
                                            @foreach (var day in ViewBag.Days)
                                            {
                                                <option value="@day">@day</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col">
                                        <br />
                                        <button type="button" id="applyFilters" class="btn btn-primary">Apply Filters</button>
                                    </div>
                                </div>
                               
                            </form>
                        
                    
                </div>
                <div class="card-body">
                    <table id="productsTable" class="table table-responsive table-striped" style="width:100%;">
                        <thead style="width:100%;">
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Date Added</th>
                                <th>Category</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody style="width:100%;">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="~/js/Products.js"></script>
}
